{% extends "blog/base.html" %}
{% block content %}
  <!-- Theme Made By www.w3schools.com - No Copyright -->



<div class="container-fluid bg-1 text-center">


  <style>
  .bg-1 { 
    background-color: #26b89d;
    color: #ffffff;
  }
  .bg-2 { 
    background-color: #bbbbbb;
    color: #ffffff;
  }
  .bg-3 { 
    background-color: #bab5b5;
    color: #555555;
  }
  .container-fluid {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  </style>
  <h3>Who Am I?</h3>
  <!-- <img src="bird.jpg" class="img-circle" alt="Bird" width="350" height="350"> -->
  <h4>I'm a veterinarian with passion of programming. Please don't tell anybody, but my little secret is that - Me and my fiancée are half human's and half bear's. </h4>
</div>

<div class="container-fluid bg-2 text-center">

  <h3>{{ user.username}}</h3>
  <h3>{{ user.email }}</h3>

</div>

<div class="container-fluid bg-3 text-center">


</div>

{% endblock content %}